<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">

      <div class="footer-col footer-col-3">
        <p>Powered by <a href="https://www.coingecko.com" target="_blank">Coingecko</a> and <a href="https://pro.coinbase.com/" target="_blank">Coinbase Pro</a> APIs</p>
      </div>
    </div>

  </div>

</footer>

{% if page.layout == "home" %}
	<script src="{{ "/assets/js/chartist.min.js" | relative_url }}"></script>
	<script src="{{ "/assets/js/coins.js" | relative_url }}"></script>
{% endif %}

{% if page.layout == "coin" %}
  <script src="{{ "/assets/js/chartist.min.js" | relative_url }}"></script>
  <script src="{{ "/assets/js/coin.js" | relative_url }}"></script>
{% endif %}