<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">

      <div class="footer-col footer-col-3">
        <p>Powered by <a href="https://www.coingecko.com/api/documentations/v3" target="_blank">Coingecko API</a> and <a href="https://docs.pro.coinbase.com/" target="_blank">Coinbase Pro</a></p>
      </div>
    </div>

  </div>

</footer>

{% if layout.name == "homepage" %}
	<script src="{{ "/assets/js/chartist.min.js" | relative_url }}"></script>
	<script src="{{ "/assets/js/coins.js" | relative_url }}"></script>
{% endif %}

{% if page.title == "Bitcoin" %}
  <script src="{{ "/assets/js/chartist.min.js" | relative_url }}"></script>
  <script src="{{ "/assets/js/btc.js" | relative_url }}"></script>
{% endif %}

{% if page.title == "Ethereum" %}
  <script src="{{ "/assets/js/chartist.min.js" | relative_url }}"></script>
  <script src="{{ "/assets/js/eth.js" | relative_url }}"></script>
{% endif %}

{% if page.title == "XRP" %}
  <script src="{{ "/assets/js/chartist.min.js" | relative_url }}"></script>
  <script src="{{ "/assets/js/xrp.js" | relative_url }}"></script>
{% endif %}

{% if page.title == "Bitcoin Cash" %}
  <script src="{{ "/assets/js/chartist.min.js" | relative_url }}"></script>
  <script src="{{ "/assets/js/bch.js" | relative_url }}"></script>
{% endif %}

{% if page.title == "Litecoin" %}
  <script src="{{ "/assets/js/chartist.min.js" | relative_url }}"></script>
  <script src="{{ "/assets/js/ltc.js" | relative_url }}"></script>
{% endif %}

{% if page.title == "EOS" %}
  <script src="{{ "/assets/js/chartist.min.js" | relative_url }}"></script>
  <script src="{{ "/assets/js/eos.js" | relative_url }}"></script>
{% endif %}

{% if page.title == "Stellar" %}
  <script src="{{ "/assets/js/chartist.min.js" | relative_url }}"></script>
  <script src="{{ "/assets/js/xlm.js" | relative_url }}"></script>
{% endif %}

{% if page.title == "Ethereum Classic" %}
  <script src="{{ "/assets/js/chartist.min.js" | relative_url }}"></script>
  <script src="{{ "/assets/js/etc.js" | relative_url }}"></script>
{% endif %}

{% if page.title == "0x" %}
  <script src="{{ "/assets/js/chartist.min.js" | relative_url }}"></script>
  <script src="{{ "/assets/js/0x.js" | relative_url }}"></script>
{% endif %}