<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">

      <div class="footer-col footer-col-3">
        <p>Powered by <a href="https://www.coingecko.com/api/documentations/v3" target="_blank">Coingecko API</a> and <a href="https://docs.pro.coinbase.com/" target="_blank">Coinbase Pro</a></p>
      </div>
    </div>

  </div>

</footer>

{% if layout.name == "homepage" %}
	<script src="{{ "/assets/js/chartist.min.js" | relative_url }}"></script>
	<script src="{{ "/assets/js/scripts.js" | relative_url }}"></script>
{% endif %}
