---
layout: default
---

<article class="coins">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content">

    <ul id="cardContainer" class="coinGecko">
    {% assign coins = site.coins | sort: 'market-cap-rank' %}
    {% for coin in coins %}
      <li class="card coin-{{ coin.symbol }}">
        <a href="{{ site.baseurl }}/coins/{{ coin.slug }}">
          <header class="card-header">
            <figure class="image">
              <img class="coin-img" src="{{ page.img }}">
              <figcaption>
                <h1 class="coin-name">{{ coin.title }}</h1>
                <p class="coin-symbol">{{ coin.symbol }}</p>
              </figcaption>
            </figure>
            <div class="market-info">
              <span>24h market cap:</span>
              <span class="market_cap">%</span>
            </div>
          </header>
          <div class="mid-wrapper">
            <div class="eur-value"><span class="price">€</span><div><span class="plus">+</span><span class="price_change_24h">€ /24h</span></div></span></div>
            <div class="ct-chart" id="chart-{{ coin.symbol }}"></div>
          </div>
          <table>
            <tr>
              <th>1h</th>
              <th>24h</th>
              <th>7d</th>
              <th>14d</th>
              <th>30d</th>
              <th>1y</th>
            </tr>
            <tr>
              <td class="change1h">%</td>
              <td class="change24h">%</td>
              <td class="change7d">%</td>
              <td class="change14d">%</td>
              <td class="change30d">%</td>
              <td class="change1y">%</td>
            </tr>
          </table>
        </a>
      </li>
      {% endfor %}
    </ul>

  </div>

</article>
