---
layout: default
---

<article class="coins">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content">
    <ul id="cardContainer">
      <li id="bitcoin" class="card">
        <figure class="image">
          <img src="https://assets.coingecko.com/coins/images/1/large/bitcoin.png">
          <figcaption>
            <h1>Bitcoin</h1>
            <p>BTC</p>
          </figcaption>
        </figure>
        <div class="price">€</div>
        <table>
          <tr>
            <th>1h</th>
            <th>24h</th>
            <th>7d</th>
            <th>14d</th>
            <th>30d</th>
            <th>1y</th>
          </tr>
          <tr>
            <td class="1hChange">%</td>
            <td class="24hChange">%</td>
            <td class="7dChange">%</td>
            <td class="14dChange">%</td>
            <td class="30dChange">%</td>
            <td class="1yChange">%</td>
          </tr>
        </table>
      </li>
      <li id="ethereum" class="card">
        <figure class="image">
          <img src="https://assets.coingecko.com/coins/images/279/large/ethereum.png">
          <figcaption>
            <h1>Ethereum</h1>
            <p>ETH</p>
          </figcaption>
        </figure>
        <div class="price">€</div>
        <table>
          <tr>
            <th>1h</th>
            <th>24h</th>
            <th>7d</th>
            <th>14d</th>
            <th>30d</th>
            <th>1y</th>
          </tr>
          <tr>
            <td class="1hChange">%</td>
            <td class="24hChange">%</td>
            <td class="7dChange">%</td>
            <td class="14dChange">%</td>
            <td class="30dChange">%</td>
            <td class="1yChange">%</td>
          </tr>
        </table>
      </li>
      <li id="ripple" class="card">
        <figure class="image">
          <img src="https://assets.coingecko.com/coins/images/44/large/xrp.png">
          <figcaption>
            <h1>XRP</h1>
            <p>XRP</p>
          </figcaption>
        </figure>
        <div class="price">€</div>
        <table>
          <tr>
            <th>1h</th>
            <th>24h</th>
            <th>7d</th>
            <th>14d</th>
            <th>30d</th>
            <th>1y</th>
          </tr>
          <tr>
            <td class="1hChange">%</td>
            <td class="24hChange">%</td>
            <td class="7dChange">%</td>
            <td class="14dChange">%</td>
            <td class="30dChange">%</td>
            <td class="1yChange">%</td>
          </tr>
        </table>
      </li>
      <li id="bitcoinCash" class="card">
        <figure class="image">
          <img src="https://assets.coingecko.com/coins/images/7895/large/B_GPCvVG_400x400.jpg">
          <figcaption>
            <h1>Bitcoin Cash</h1>
            <p>BCH</p>
          </figcaption>
        </figure>
        <div class="price">€</div>
        <table>
          <tr>
            <th>1h</th>
            <th>24h</th>
            <th>7d</th>
            <th>14d</th>
            <th>30d</th>
            <th>1y</th>
          </tr>
          <tr>
            <td class="1hChange">%</td>
            <td class="24hChange">%</td>
            <td class="7dChange">%</td>
            <td class="14dChange">%</td>
            <td class="30dChange">%</td>
            <td class="1yChange">%</td>
          </tr>
        </table>
      </li>
      <li id="litecoin" class="card">
        <figure class="image">
          <img src="https://assets.coingecko.com/coins/images/2/large/litecoin.png">
          <figcaption>
            <h1>Litecoin</h1>
            <p>LTC</p>
          </figcaption>
        </figure>
        <div class="price">€</div>
        <table>
          <tr>
            <th>1h</th>
            <th>24h</th>
            <th>7d</th>
            <th>14d</th>
            <th>30d</th>
            <th>1y</th>
          </tr>
          <tr>
            <td class="1hChange">%</td>
            <td class="24hChange">%</td>
            <td class="7dChange">%</td>
            <td class="14dChange">%</td>
            <td class="30dChange">%</td>
            <td class="1yChange">%</td>
          </tr>
        </table>
      </li>
      <li id="eos" class="card">
        <figure class="image">
          <img src="https://assets.coingecko.com/coins/images/738/large/eos-eos-logo.png">
          <figcaption>
            <h1>EOS</h1>
            <p>EOS</p>
          </figcaption>
        </figure>
        <div class="price">€</div>
        <table>
          <tr>
            <th>1h</th>
            <th>24h</th>
            <th>7d</th>
            <th>14d</th>
            <th>30d</th>
            <th>1y</th>
          </tr>
          <tr>
            <td class="1hChange">%</td>
            <td class="24hChange">%</td>
            <td class="7dChange">%</td>
            <td class="14dChange">%</td>
            <td class="30dChange">%</td>
            <td class="1yChange">%</td>
          </tr>
        </table>
      </li>
    </ul>
  </div>

</article>
